# Python
.venv/
__pycache__/
*.pyc

# ==========================================
# Unity official exclusions
# ==========================================
# Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/

# Crash dumps and memory profiling
*.idb
*.pdb
*.pidb
*.log

# IDE
.vs/
.vscode/
.idea/

# Secrets
.env
*.env
.adk/
