# Python
.venv/
__pycache__/
*.pyc

# ==========================================
# Unity official exclusions
# ==========================================
[Log]s/
[T]emp/
[O]bj/
[B]uild/
[B]uilds/
[U]ser[S]ettings/

# Explicitly ignore the root Library folder, but NEVER its meta file
/[L]ibrary/

# Crash dumps and memory profiling
*.idb
*.pdb
*.pidb
*.log

# IDE
.vs/
.vscode/
.idea/

# Secrets
.env
*.env
.adk/
